**Problem:** hiring.csv file contains hiring statics for a firm such as experience of candidate, his written test score and personal interview score. Based on these 3 factors, HR will decide the salary. Given this data, you need to build a machine learning model for HR department that can help them decide salaries for future candidates. Using this predict salaries for following candidates,

**Testing:**
2 yr experience, 9 test score, 6 interview score

12 yr experience, 10 test score, 10 interview score

In [3]:
from word2number import w2n
from sklearn.linear_model import LinearRegression
import pandas as pd

In [28]:
df=pd.read_csv('hiring.csv')
df=df.drop('Unnamed: 0',axis=1)
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary
0        NaN                    8.0                           9   50000
1        NaN                    8.0                           6   45000
2       five                    6.0                           7   60000
3        two                   10.0                          10   65000
4      seven                    9.0                           6   70000
5      three                    7.0                          10   62000
6        ten                    NaN                           7   72000
7     eleven                    7.0                           8   80000

Cleaning Data

In [29]:
df.experience=df.experience.fillna('zero')

df['test_score(out of 10)']=df['test_score(out of 10)'].fillna(df['test_score(out of 10)'].median())
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary
0       zero                    8.0                           9   50000
1       zero                    8.0                           6   45000
2       five                    6.0                           7   60000
3        two                   10.0                          10   65000
4      seven                    9.0                           6   70000
5      three                    7.0                          10   62000
6        ten                    8.0                           7   72000
7     eleven                    7.0                           8   80000

In [30]:
type(df.experience)
save=[]
for i in df['experience']:
  save.append(w2n.word_to_num(i))
df.experience=save
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary
0           0                    8.0                           9   50000
1           0                    8.0                           6   45000
2           5                    6.0                           7   60000
3           2                   10.0                          10   65000
4           7                    9.0                           6   70000
5           3                    7.0                          10   62000
6          10                    8.0                           7   72000
7          11                    7.0                           8   80000

Creating Model

In [32]:
model=LinearRegression()
model.fit(df[['experience','test_score(out of 10)','interview_score(out of 10)']],df['salary'])

LinearRegression()

In [34]:
model.coef_

array([2812.95487627, 1845.70596798, 2205.24017467])

In [35]:
model.intercept_

17737.263464337695

Testing Model

In [42]:
model.predict([[2,9,6],[12,10,10]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([53205.96797671, 92002.18340611])